
<script>
	WIDGET = {
		"CONFIG": {
			"modules": "012",
			"background": "5",
			"tmpColor": "4A4F4A",
			"tmpSize": "25",
			"cityColor": "4A4F4A",
			"citySize": "25",
			"aqiSize": "35",
			"weatherIconSize": "24",
			"alertIconSize": "18",
			"padding": "10px 10px 10px 10px",
			"shadow": "1",
			"language": "auto",
			"borderRadius": "5",
			"fixed": "false",
			"vertical": "middle",
			"horizontal": "center",
			"key": "0b24d45d7ee242febba096cf1c1de275"
		}
	}
</script>
<script src="https://widget.qweather.net/simple/static/js/he-simple-common.js?v=2.0"></script>
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-61551308-1', 'auto');
	ga('send', 'pageview');
</script>
<script src="dist/app.js"></script>

<footer class="container-fluid text-center small" style="margin: 0px;">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10" style="background-color:rgba(255,255,255,0.7);">
            <div class="footer-device" >
                <p>
                    © 2021
                    &nbsp;
                    <a href="https://beian.miit.gov.cn/" target="_blank"><a href="http://beian.miit.gov.cn/"  style="color:#f72b07" target="_blank">粤ICP备1145141919810号</a></a>
                </p>
                <a href="/img/ltynb.cn_2021121721.png" target="_blank">查看证书</a>
                <br>
                <br>
            </div>
            <p>制作小组:蔡伟杰,李天宇,李佳阳</p>
        </div>
    </div>
    <br>
    <br>
</footer>

<div class="waifu" style="position: fixed;bottom: 0px;left: 0px;">
    <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
    <div class="waifu-tool">
        <span class="fui-home"></span>
        <span class="fui-chat"></span>
        <span class="fui-eye"></span>
        <span class="fui-user"></span>
        <span class="fui-photo"></span>
        <span class="fui-info-circle"></span>
        <span class="fui-cross"></span>
    </div>
</div>

<script src="assets/waifu-tips.js"></script>
<script src="assets/live2d.js"></script>
<script type="text/javascript">initModel("assets/")</script>


<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/holder.min.js"></script>
<script src="/js/public.js"></script>

<script>
	$(".fixed-top").autoHidingNavbar()
</script>
</body>

</html>
