<iframe src="https://www.lovestu.com/api/project/cnmapyinqing/obj.php" height="500" frameborder="no" border="0" width="100%"> </iframe>

<!-- 念两句诗-->
<img alt="今日诗词" src="https://v2.jinrishici.com/one.svg" style="max-width:100%; display: block; margin: 0 auto;">

<!--天气代码-->
<div id="he-plugin-simple"></div>
<script>
	WIDGET = {
		"CONFIG": {
			"modules": "012",
			"background": "5",
			"tmpColor": "4A4F4A",
			"tmpSize": "25",
			"cityColor": "4A4F4A",
			"citySize": "25",
			"aqiSize": "35",
			"weatherIconSize": "24",
			"alertIconSize": "18",
			"padding": "10px 10px 10px 10px",
			"shadow": "1",
			"language": "auto",
			"borderRadius": "5",
			"fixed": "false",
			"vertical": "middle",
			"horizontal": "center",
			"key": "0b24d45d7ee242febba096cf1c1de275"
		}
	}
</script>
<script src="https://widget.qweather.net/simple/static/js/he-simple-common.js?v=2.0"></script>
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-61551308-1', 'auto');
	ga('send', 'pageview');
</script>
<script src="dist/app.js"></script>

<footer class="bg-light p-3 mt-3  text-center text-secondary small">
    <div class="footer-device">
        <!-- 请尊重作者，请务必保留版权 -->
        <p style="font-family: 'Ubuntu', sans-serif;">
				<span>Powered
 					<i class="fa fa-vimeo animated" style="color: #e74c3c;"></i>
					by
					<a rel="me" target="_blank"  href="http://halo.run" title="一个优秀的开源博客发布应用" style="text-decoration:none;">Halo</a>
				</span>
            •
            <span>Crafted with
 					<i class="fa fa-heart animated" style="color: #e74c3c;"></i>
					by
					<a rel="me" target="_blank" href="https://github.com/LIlGG/halo-theme-sakura" style="text-decoration:none;">LIlGG</a>
				</span>
        </p>
        <p>
            © 2021 Cai
            &nbsp;
            <a href="https://beian.miit.gov.cn/" target="_blank"><a href="http://beian.miit.gov.cn/"  style="color:#f72b07" target="_blank">粤ICP备2021042982号</a></a>
        </p>
    </div>
    <p>制作小组:蔡伟杰,李天宇,李佳阳</p>
</footer>




<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/holder.min.js"></script>
<script src="/js/public.js"></script>
<script type="text/javascript" charset="utf-8"  src="/js/L2Dwidget.0.min.js"></script>
<script type="text/javascript" charset="utf-8"  src="/js/L2Dwidget.min.js"></script>
<script type="text/javascript">
	L2Dwidget.init({"display": {
			"superSample": 2,
			"width": 200,
			"height": 400,
			"position": "right",
			"hOffset": 0,
			"vOffset": 0
		}
	});
</script>
<script>
	$(".fixed-top").autoHidingNavbar()
</script>
</body>

</html>
