<%- include('header.html') -%>


<div class="container mt-5">
        <h2 class="mb-4">搜索结果（搜索词：keyword ）</h2>
        <div class="row row-cols-4">
            <div class="col my-3">
                <div class="card h-100">
                    <img src="holder.js/100px150" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">标题</h5>
                        <p class="card-text"><small class="text-muted">2018-10-10 20:14:52</small></p>
                        <p class="card-text">内容简要...</p>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col my-3">
                <div class="card h-100">
                    <img src="holder.js/100px150" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">标题</h5>
                        <p class="card-text"><small class="text-muted">2018-10-10 20:14:52</small></p>
                        <p class="card-text">内容简要...</p>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col my-3">
                <div class="card h-100">
                    <img src="holder.js/100px150" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">标题</h5>
                        <p class="card-text"><small class="text-muted">2018-10-10 20:14:52</small></p>
                        <p class="card-text">内容简要...</p>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col my-3">
                <div class="card h-100">
                    <img src="holder.js/100px150" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">标题</h5>
                        <p class="card-text"><small class="text-muted">2018-10-10 20:14:52</small></p>
                        <p class="card-text">内容简要...</p>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col my-3">
                <div class="card h-100">
                    <img src="holder.js/100px150" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">标题</h5>
                        <p class="card-text"><small class="text-muted">2018-10-10 20:14:52</small></p>
                        <p class="card-text">内容简要...</p>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col my-3">
                <div class="card h-100">
                    <img src="holder.js/100px150" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">标题</h5>
                        <p class="card-text"><small class="text-muted">2018-10-10 20:14:52</small></p>
                        <p class="card-text">内容简要...</p>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col my-3">
                <div class="card h-100">
                    <img src="holder.js/100px150" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">标题</h5>
                        <p class="card-text"><small class="text-muted">2018-10-10 20:14:52</small></p>
                        <p class="card-text">内容简要...</p>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col my-3">
                <div class="card h-100">
                    <img src="holder.js/100px150" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">标题</h5>
                        <p class="card-text"><small class="text-muted">2018-10-10 20:14:52</small></p>
                        <p class="card-text">内容简要...</p>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col my-3">
                <div class="card h-100">
                    <img src="holder.js/100px150" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">标题</h5>
                        <p class="card-text"><small class="text-muted">2018-10-10 20:14:52</small></p>
                        <p class="card-text">内容简要...</p>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col my-3">
                <div class="card h-100">
                    <img src="holder.js/100px150" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">标题</h5>
                        <p class="card-text"><small class="text-muted">2018-10-10 20:14:52</small></p>
                        <p class="card-text">内容简要...</p>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col my-3">
                <div class="card h-100">
                    <img src="holder.js/100px150" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">标题</h5>
                        <p class="card-text"><small class="text-muted">2018-10-10 20:14:52</small></p>
                        <p class="card-text">内容简要...</p>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('footer.html') -%>